<div class="form-floating mb-3">
  <input
    [formControl]="control"
    type="{{ type }}"
    placeholder="{{ label }}"
    class="form-control"
    [ngClass]="
      control.touched ? (control.invalid ? 'is-invalid' : 'is-valid') : null
    "
  />
  <label for="floatingInput">{{ label }}</label>
  <div
    *ngIf="control.status === 'PENDING'"
    class="fa fa-spinner fa-spin loader"
  ></div>
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">
    Please choose a {{ label }}
  </div>
  <div *ngIf="control.errors?.['email']" class="invalid-feedback">
    Invalid Email Address
  </div>
  <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">
    It expects atleast 1 small-case letter, 1 Capital letter, 1 digit, 1 special
    character and the length should be between 6-10 characters
  </div>
  <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">
    Email is already taken
  </div>
</div>
