<div class="container mt-2">
  <div *ngIf="(basket$ | async) === null">
    <p>There are no items in the basket</p>
  </div>

  <div *ngIf="basket$ | async as basket">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <app-basket-summary
          (addItem)="incrementItemQuantity($event)"
          (removeItem)="decrementItemQuantity($event)"
          >

          </app-basket-summary>
        </div>
      </div>

      <div class="row">
        <div class="col-6 offset-6">
          <app-order-totals></app-order-totals>
          <a
            routerLink="/checkout"
            class="btn btn-outline-primary py-2 btn-block"
          >
            proceed to checkout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
